/* Rectangle 1 */
.number1 {
position: absolute;
width: 1400px;
height: 1100px;

background: #F0C1C1;
}

/* السلام عليكم الحب والولاء عين القلب حبيبي شكرا لك */
h1{
position: absolute;
width: 1000px;
height: 1000px;

font-family: 'Inter';
font-style: normal;
font-weight: 450;
font-size: 200px;
line-height: 200px;

color: #C7FFE7;
}


/* Rectangle 2 */
.number3{
position: absolute;
width: 1495px;
height: 194px;

background: #F49CE6;
}

/* Rectangle 3 */
.number4{
position: absolute;
width: 1495px;
height: 215px;

background: #F49CE6;
}

/* Rectangle 4 */
.number5{
position: absolute;
width: 1495px;
height: 215px;

background: #F49CE6;
}

/* Rectangle 5 */
.number6{
position: absolute;
width: 1495px;
height: 215px;

background: #F49CE6;
}

/* Rectangle 6 */
.number7{
position: absolute;
width: 1495px;
height: 215px;

background: #F49CE6;
}
